<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmRCQz5YQvrfBGcwfc1dMeIlQZ_UIohIM</string>
	<key>GCM_SENDER_ID</key>
	<string>512768135510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractise</string>
	<key>PROJECT_ID</key>
	<string>test1-a2b27</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-a2b27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512768135510:ios:5dc06ad2dfeb5a4de486f7</string>
</dict>
</plist>